
# START CRON JOB
0 0 * * * python /app/PortlandMaps.py > /proc/1/fd/1 2>/proc/1/fd/2
# END CRON JOB
# * * * * * command to be executed
# - - - - -
# | | | | |
# | | | | ----- Day of week (0 - 7) (Sunday=0 or 7)
# | | | ------- Month (1 - 12)
# | | --------- Day of month (1 - 31)
# | ----------- Hour (0 - 23)
# ------------- Minute (0 - 59)